In [23]:
import seaborn as sb
import pandas as pd
import numpy as np
ser = pd.Series(['Apple_사과', 'Banana_바나나', 'Cherry_체리', np.nan],
                index=['First ', ' Second', ' Third', 'Fourth'])

print(ser)

print()

ser2 = pd.Series(['Apple_사과', 'Banana_바나나', 'Cherry_체리', np.nan],
                index=['First ', ' Second', ' Third', 'Fourth'], dtype='string')

print(ser2)

First        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth            NaN
dtype: object

First        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth           <NA>
dtype: string

In [29]:
print(ser.str.lower())
print()

print(ser.str.upper())
print()

print(ser.str.len())

First        apple_사과
 Second    banana_바나나
 Third      cherry_체리
Fourth            NaN
dtype: object

First        APPLE_사과
 Second    BANANA_바나나
 Third      CHERRY_체리
Fourth            NaN
dtype: object

First       8.0
 Second    10.0
 Third      9.0
Fourth      NaN
dtype: float64

In [34]:
print(ser.str.split('_'))
print(type(ser.str.split('_')))
print()

print(ser.str.split('_', expand=True))
print(type(ser.str.split('_', expand=True)))
print()

print(ser.str.split('_').str.get(1))

First        [Apple, 사과]
 Second    [Banana, 바나나]
 Third      [Cherry, 체리]
Fourth               NaN
dtype: object
<class 'pandas.core.series.Series'>

              0    1
First     Apple   사과
 Second  Banana  바나나
 Third   Cherry   체리
Fourth      NaN  NaN
<class 'pandas.core.frame.DataFrame'>

First       사과
 Second    바나나
 Third      체리
Fourth     NaN
dtype: object

In [38]:
idx = ser.index
print(idx)

print(idx.str.strip())

print(idx.str.lstrip())
print(idx.str.rstrip())

Index(['First ', ' Second', ' Third', 'Fourth'], dtype='object')
Index(['First', 'Second', 'Third', 'Fourth'], dtype='object')
Index(['First ', 'Second', 'Third', 'Fourth'], dtype='object')
Index(['First', ' Second', ' Third', 'Fourth'], dtype='object')

In [44]:
print(ser.str.replace('_', ':', regex=False))
print()

print(ser.str.replace('[^a-zA-z\\s]', "", regex=True))

First        Apple:사과
 Second    Banana:바나나
 Third      Cherry:체리
Fourth            NaN
dtype: object

First       Apple_
 Second    Banana_
 Third     Cherry_
Fourth         NaN
dtype: object

In [47]:
print(ser)
print(ser.str[0])
print()

print(ser.str[0:4])

First        Apple_사과
 Second    Banana_바나나
 Third      Cherry_체리
Fourth            NaN
dtype: object
First        A
 Second      B
 Third       C
Fourth     NaN
dtype: object

First      Appl
 Second    Bana
 Third     Cher
Fourth      NaN
dtype: object

In [52]:
contains_A = ser.str.contains('A', na=False)
print(contains_A)
print()

contains_pattern = ser.str.contains(r'[A|B][a-z]+')
print(contains_pattern)

print()

fullmatch_pattern = ser.str.fullmatch('r[A|B][a-z]+')
print(fullmatch_pattern)

First       True
 Second    False
 Third     False
Fourth     False
dtype: bool

First       True
 Second     True
 Third     False
Fourth       NaN
dtype: object

First      False
 Second    False
 Third     False
Fourth       NaN
dtype: object

In [ ]:
ser3 = pd.Series(['a1', 'b2', 'c3', 'd4a5', 'e6e7', 'f8'], dtype='string')

print(ser3)

print()
digits = ser3.str.extractall(r'(\d)').groupby(level=0).agg(''.join)
print(digits)
print()

letters = ser3.str.extractall(r'([a-zA-Z])').groupby(level=0).agg(''.join)
print(letters)

split_columns = ser3.str.extract(r'(?P<Letter>[a-z]+)(?P<Digit>\d+)')

0      a1
1      b2
2      c3
3    d4a5
4    e6e7
5      f8
dtype: string

    0
0   1
1   2
2   3
3  45
4  67
5   8

    0
0   a
1   b
2   c
3  da
4  ee
5   f